# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*

# Android release build outputs
android/app/release/
android/app/release/baselineProfiles/
android/app/release/output-metadata.json
android/app/release/baselineProfiles/0/app-release.dm

# Android debug build outputs
android/app/debug/
android/app/build/
android/build/
*.apk
*.aab
*.keystore
